.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondary;
  color: $white;
}

.copyright {
  background-color: darken($secondary, 10%);
}

.company-info {
  list-style: none;
  text-align: left;

  .fa {
    font-size: inherit;
  }
} 